
{% extends 'layout.html' %}

{% block body %}
    



 <body>
<div class="container">
  <div class="box">
    <form class="form-signin" method=post enctype=multipart/form-data name="form1">
     
      <h1 class="h3 mb-3 font-weight-normal">Upload any image or video</h1>
      <input type="file" name="file" class="form-control-file" id="inputfile" >
      <br/>
      <button class="btn btn-lg btn-primary btn-block" type="submit">Upload</button>
    
    </form>
  </div>
</div>
</body>


<style>
  body {
      text-align: center;
     
  }
  
  button {
      margin-top: 10px;
  }
  </style>
  

{% endblock %}